//base

$font-main: "Roleway", sans-serif;
$font-accent: "Playfair", serif;
$font-secondary: "Roboto", serif;

//colors

$dark: #242833;
$accent: #d4c17f;
$white: #fff;
$footer-bg: #2d343c;
$placeholder: #BEBEBE;
$muted: #E7E7E7;

// Media

$tablet: 999px;
